data/pref.ini
data/shelldata/pref.json
data/navvi/navvi.json
data/banners/*
!data/banners/banner.txt
!data/banners/sybau.txt
modules/spongebob.psm1
modules/foxc.psm1
data/streamoverlay/*
data/img/actually-just-a-slur.mp3
modules/nigga.psm1
